
<nav class="navbar navbar-inverse navbar-dark bg-dark navbar sticky-top " >
  <div class="container-fluid">
    <img src="https://www.cse.iitb.ac.in/images/iitblogowhite.png" alt="IIT_Logo" style="height: 104px;">
    
    <div class="d-flex flex-row-reverse">
    <button class="btn btn-danger navbar-btn">Home</button>
    <button class="btn btn-success navbar-btn" routerLink="/history">About</button>
    <button class="btn btn-success navbar-btn" >Contect </button>
    <button class="btn btn-success navbar-btn" routerLink="/info">Back</button>
  </div>
  </div>
</nav>
<div class="clearfix">
  <img src="../assets/img1.jpg" class="col-md-6 float-md-end mb-3 ms-md-3" alt="..." style="width: auto; height: 35rem;">

  <p><h2>
    The journey of a thousand miles begins with a single step  <br> - Lao Tzu
    </h2>

 

  <p>
    Hi!, I am Prince Chouhan, a first year undergraduate in the Electrical engeneering department at IIT Bombay. 
  </p>

  <p>
    I am a codeing entusiast and this websit is a demo website for rocket team assignment. It contains my educational background, hobbies and some othe information about me. <br> Please take a look around my website to learn more about my skills and experience.
  </p>
</div> 
